## What we need 

Get data from WRDS --> is this through openAP

get data from FRED? -- Where is this? 
get fama french factors? 

How do we get the long-short positions?? like how do we see the returns?

are we able to get wrds connection or should we get a file downloaded from you 

will we be able to use gridsearchCV to run multiple models at once?

In [2]:
DEV = True # will shrink datasets after loading

In [4]:
import pandas as pd
import polars as pl

import numpy as np

import statsmodels.formula.api as smf
import statsmodels.api as sm
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
from datetime import datetime
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [6]:
crsp = pd.read_csv('crsp_data.csv')
crsp.info()

# for speedy dev, pick 20 permnos at random (with seed)
if DEV:
    np.random.seed(123)
    permnos = crsp['permno'].unique()
    permnos = np.random.choice(permnos, size=20, replace=False)
    crsp = crsp[crsp['permno'].isin(permnos)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4047630 entries, 0 to 4047629
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   permno  int64
 1   date    object
 2   ret     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 92.6+ MB

In [7]:
# crsp = pl.from_pandas(crsp)

crsp['date'] = pd.to_datetime(crsp['date'])

cleancrsp = crsp.query('ret.notnull() and date.dt.year >= 1975')
#crsp["ret"].is_not_null(), crsp['date'].dt.year() >= 1975) 
# keep only the data that has return and after 1975

len(cleancrsp['ret'].notnull()) # check that no null values in ret
len(cleancrsp['ret'].notnull()) == len(cleancrsp) # check that all ret values are not null

cleancrsp

         permno       date      ret
29180     10181 1986-05-30   6.8493
29181     10181 1986-06-30  16.6667
29182     10181 1986-07-31   1.0989
29183     10181 1986-08-29  -6.5217
29184     10181 1986-09-30  -4.6512
...         ...        ...      ...
4037917   93235 2014-04-30  17.2319
4037918   93235 2014-05-30  -1.3066
4037919   93235 2014-06-30   5.7683
4037920   93235 2014-07-31  -2.9951
4037921   93235 2014-08-29   1.1060

[2497 rows x 3 columns]

In [ ]:
max_idx = cleancrsp['ret'].argmax()

cleancrsp.iloc[max_idx-5:max_idx+5] # this seems like an outlier for sure, not to be included in the data --> company is black stone minerals.

In [ ]:
cleancrsp.sort_values('ret').tail(100) # check the top 10 returns
# these seem way too high

In [ ]:
cleancrsp['ret'].describe(percentiles=[.01, .05, .10, .25, .5, .75, .9, .95, .99, .995]) # check the distribution of returns

In [ ]:
cleancrsp['permno'].nunique() # check the number of unique permnos



# profile = ProfileReport(cleancrsp, title="CRSP Data Profiling Report")

In [ ]:
# profile

## Open Signals from Zip

In [8]:
from zipfile import ZipFile


def open_dataframe_from_zip(zip_filepath, csv_filename):
    """
    Opens a Pandas DataFrame from a CSV file within a zip archive.

    Args:
        zip_filepath (str): Path to the zip file.
        csv_filename (str): Name of the CSV file inside the zip archive.

    Returns:
        pandas.DataFrame: The DataFrame read from the CSV file, or None if an error occurs.
    """
    try:
        with ZipFile(zip_filepath) as zf:
            with zf.open(csv_filename) as csvf:
                df = pd.read_csv(csvf)
        return df
    except FileNotFoundError:
        print(f"Error: Zip file not found at '{zip_filepath}'")
        return None
    except KeyError:
        print(f"Error: CSV file '{csv_filename}' not found in the zip archive.")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None

# Example usage:
zip_filepath = 'signed_predictors_dl_wide.zip'
csv_filename = 'signed_predictors_dl_wide.csv'
signals = open_dataframe_from_zip(zip_filepath, csv_filename)

if signals is not None:
    print(signals.head())
    
# for speedy dev,
if DEV: 
    signals = signals.iloc[:,:20]

   permno  yyyymm  AM  AOP  AbnormalAccruals  Accruals  AccrualsBM  Activism1  \
0   10000  198601 NaN  NaN               NaN       NaN         NaN        NaN
1   10000  198602 NaN  NaN               NaN       NaN         NaN        NaN
2   10000  198603 NaN  NaN               NaN       NaN         NaN        NaN
3   10000  198604 NaN  NaN               NaN       NaN         NaN        NaN
4   10000  198605 NaN  NaN               NaN       NaN         NaN        NaN

   Activism2  AdExp  ...  retConglomerate  roaq  sfe  sinAlgo  skew1  \
0        NaN    NaN  ...              NaN   NaN  NaN      NaN    NaN
1        NaN    NaN  ...              NaN   NaN  NaN      NaN    NaN
2        NaN    NaN  ...              NaN   NaN  NaN      NaN    NaN
3        NaN    NaN  ...              NaN   NaN  NaN      NaN    NaN
4        NaN    NaN  ...              NaN   NaN  NaN      NaN    NaN

   std_turn  tang  zerotrade12M   zerotrade1M  zerotrade6M
0       NaN   NaN           NaN           NaN          NaN
1       NaN   NaN           NaN  4.785175e-08          NaN
2       NaN   NaN           NaN  1.023392e-07          NaN
3       NaN   NaN           NaN  7.467463e-08          NaN
4       NaN   NaN           NaN  7.649551e-08          NaN

[5 rows x 211 columns]

In [9]:
signals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5273600 entries, 0 to 5273599
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   permno              int64
 1   yyyymm              int64
 2   AM                  float64
 3   AOP                 float64
 4   AbnormalAccruals    float64
 5   Accruals            float64
 6   AccrualsBM          float64
 7   Activism1           float64
 8   Activism2           float64
 9   AdExp               float64
 10  AgeIPO              float64
 11  AnalystRevision     float64
 12  AnalystValue        float64
 13  AnnouncementReturn  float64
 14  AssetGrowth         float64
 15  BM                  float64
 16  BMdec               float64
 17  BPEBM               float64
 18  Beta                float64
 19  BetaFP              float64
dtypes: float64(18), int64(2)
memory usage: 804.7 MB

In [10]:
def move_column_to_front(df, columns):
    return df[columns + [col for col in df.columns if col not in columns]]

In [ ]:
signals = signals.rename(columns={'yyyymm': 'yyyymm_signals'})


    # Create date that is one month ahead for merging with returns
signals["yyyymm_signals"] = signals["yyyymm_signals"].astype(str) 
signals["date"] = pd.to_datetime(signals["yyyymm_signals"] + "28", format="%Y%m%d") + pd.DateOffset(months=1)


signals = move_column_to_front(signals, ['permno', 'date'])

signals.head()

,permno,yyyymm_signals,AM,AOP,AbnormalAccruals,Accruals,AccrualsBM,Activism1,Activism2,AdExp,...,AnalystRevision,AnalystValue,AnnouncementReturn,AssetGrowth,BM,BMdec,BPEBM,Beta,BetaFP,date
0,10000,198601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1986-02-28
1,10000,198602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1986-03-28
2,10000,198603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1986-04-28
3,10000,198604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1986-05-28
4,10000,198605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1986-06-28

In [ ]:


# create a new datetime column, use the year and month, but make the date 28th of the month:
cleancrsp['date'] = pd.to_datetime(cleancrsp['date'].dt.year*100 + cleancrsp['date'].dt.month, format='%Y%m') + pd.DateOffset(days=27)

## Need to Convert yyyymm column to yyyy-mm-dd datetime column, rename to date

Something interesting, the crsp dataset uses trading days. How do we get this in our signals dataset. Just go off year-months?

Can we merge on yyyy-mm and not include dd so that we can match the crsp dates? But how would it know the date in the future? For instance, would it know the end of the month a year from now, or guess based on the previous crsp dd for that year or month before?

Is lagging the signals the right thing to do or do I lag the returns??


value weighting

In [ ]:
bigdata = cleancrsp.merge(signals, on=['permno', 'date'], how='left', indicator=True, validate="one_to_one")